
* {
    box-sizing: border-box;
}

body, ul, li, a, p{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.main-wrap{
    top: -15px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
    padding-top: 3rem;
    background-color: rgb(165, 241, 241);
}

.add{
    position: fixed;
    top: 1rem;
    right: 1rem;
    border: none;
    color: #fff;
    padding: 8px;
    background-color: rgb(90, 241, 90);
    cursor: pointer;
}

.notes{
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: 15px;
    overflow: hidden;
}

.tools{
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    background-color: rgb(221, 247, 227);
}

.tools button{
    position: relative;
    border: none;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}

.notes .main{
    width: 100%;
    height: 400px;
    background-color: rgb(252, 244, 245);
}

.notes textarea{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.notes .hidden{
    display: none;
}
